In [1]:
import pandas as pd
from metric import decision_prices

Загружаем тестовую выборку

In [2]:
test = pd.read_excel('./data/test.xlsx')

Базовая стратеги - закупка 1 раз в две недели

In [4]:
test.loc[::2,'Объем'] = 2 
test['Объем'] = test['Объем'].fillna(0)

In [5]:
test

           dt  Цена на арматуру  Объем
0  2022-09-05             46000    2.0
1  2022-09-12             46000    0.0
2  2022-09-19             46000    2.0
3  2022-09-26             45500    0.0
4  2022-10-03             45500    2.0
5  2022-10-10             45000    0.0
6  2022-10-17             44000    2.0
7  2022-10-24             43000    0.0
8  2022-10-31             42000    2.0
9  2022-11-07             41500    0.0
10 2022-11-14             41000    2.0
11 2022-11-21             40000    0.0
12 2022-11-28             40000    2.0
13 2022-12-05             40500    0.0
14 2022-12-12             41700    2.0
15 2022-12-19             41700    0.0
16 2022-12-26             42500    2.0
17 2023-01-02             42700    0.0
18 2023-01-09             42700    2.0
19 2023-01-16             42700    0.0
20 2023-01-23             42800    2.0
21 2023-01-30             42800    0.0
22 2023-02-06             44500    2.0
23 2023-02-13             44500    0.0
24 2023-02-20             46000    2.0
25 2023-02-27             49200    0.0
26 2023-03-06             53700    2.0
27 2023-03-13             55500    0.0

In [6]:
test.to_excel('sample_submission.xlsx', index=False)

Считаем затраты на арматуру

In [7]:
test_submission = pd.read_excel('sample_submission.xlsx')

In [8]:
decision_prices(test_submission)

1236800